body {
  background-color: #f0f0f0;
}
#editor {
  resize: none;
  background-color: #e5e5e5 ;
  font-family: 'Source Code Pro', monospace;
}

#preview pre {
  display: block;
  overflow: auto;
  background: #e5e5e5;
  padding: 5px;
  line-height: 1.2;
  margin: 5px;
  border: 1px solid black;
  border-radius: 5px;
  font-family: 'Source Code Pro', monospace;
}

#preview table {
  border-collapse: collapse;
}
#preview td,
#preview th {
  border: 2px solid #224b4b;
  padding-left: 5px;
  padding-right: 5px;
}

#preview img {
  display: block;
  max-width: 90%;
  margin: 2rem auto;
}